<mat-card class="mat-elevation-z0">
  <mat-toolbar color="primary"> Contatos Registrados </mat-toolbar>

  <div *ngIf="contacts$ | async as contacts; else loading">
    <mat-card-content>
      <table mat-table [dataSource]="contacts" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="name-column-width">
            Nome
          </th>
          <td mat-cell *matCellDef="let contact">{{ contact.name }}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Telefone</th>
          <td mat-cell *matCellDef="let contact">
            {{ contact.phone | titlecase }}
            <!--mat-icon aria-hidden="false" aria-label="Category icon" class="icon-pos"> {{contact.category | category}}</mat-icon-->
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="spacing action-gui">
            <button
              mat-mini-fab
              color="accent"
              aria-label="Adicionar novo contato"
              class="btn-pos mat-elevation-z0"
            >
              <mat-icon (click)="onAdd()">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let contact" class="action-gui">
            <button mat-icon-button color="primary" aria-label="Editar contato">
              <mat-icon (click)="onEdit(contact)">edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Deletar contato">
              <mat-icon (click)="onDelete(contact)">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </div>

  <ng-template #loading>
    <br />
    <div class="loading-spinner">
      <mat-progress-spinner
        mode="indeterminate"
        color="primary"
      ></mat-progress-spinner>
    </div>
  </ng-template>
</mat-card>
