/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-success .mat-simple-snackbar-action  {
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}

.msg-error .mat-simple-snackbar-action  {
  color: #fff;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.full-width {
  margin-top: 10px;
  width: 100%;
}
