<div class="text-center">
  <h2 class="text-center">Log in</h2>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="d-flex-center"
  >
    <div class="example-container">
      <div>
        <mat-form-field>
          <input matInput placeholder="Login" formControlName="login" />
          <mat-error
            *ngIf="
              !loginForm.get('login')?.errors?.['required']
            "
          >
            Please enter a valid login
          </mat-error>
          <mat-error
            *ngIf="
              loginForm.get('login')?.invalid &&
              (loginForm.get('login')?.dirty ||
                loginForm.get('login')?.touched) &&
              loginForm.get('login')?.errors?.['required']
            "
          >
            Login is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched) &&
              loginForm.get('password')?.errors?.['required']
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top">
        <button
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="primary"
          mat-button
        >
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>
